{{>message}}
<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light d-flex justify-content-around">
    <div>
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
    </div>

    <div>
      <a class="mb-2" href="/restaurants/new">
        <button type="submit" class="btn btn-info text-secondary-emphasis">新增一家餐廳</button>
      </a>
    </div>

  </nav>

  <div class="banner"></div>
</header>

<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurants">
        <h4 class="mb-2 ">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{!-- {{#each restaurants as |restaurant|}} --}}
        {{#each restaurants}}
          <div class="card mb-3">
            <a href="/restaurants/{{this.id}}" class="text-secondary">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            </a>
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge rounded-pill bg-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>

              <a href="/restaurants/{{this.id}}" class="text-secondary">
                <button type="submit" class="btn btn-outline-secondary">介紹</button>
              </a>

              <a href="/restaurants/{{this.id}}/edit" class="text-secondary">
                <button type="submit" class="btn btn-outline-secondary">編輯</button>
              </a>
              
              {{!-- 關於刪除鈕＋彈出視窗：以dialog＋onclick搭配script來寫 --}}
              <button type="submit" onclick="openDialog('modal_{{this.id}}')">
                刪除
              </button>
                
              <dialog  id="modal_{{this.id}}">
                <p>請問確認要刪除嗎？</p>
                <form action="/restaurants/{{this.id}}?_method=DELETE" method="post" style="display: inline;">
                  <button type="submit">確認刪除</button>
                  <button type="button" onclick="closeDialog('modal_{{this.id}}')">取消</button>
                </form>
              </dialog>
              
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{!-- 透過script動態控制 彈出＋關閉視窗 --}}
<script>
  function openDialog(id) {
    document.querySelector(`#${id}`).showModal()
  }
  function closeDialog(id) {
    document.querySelector(`#${id}`).close()
  }
</script>